# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build output
dist/
build/

# Environment files (keep example)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino.log
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary & cache
.turbo
.drizzle/
tmp/
scratch/
